*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#wrapper {
  font-family: 'Architects Daughter', cursive;
  margin: 0 auto;
  text-align: left;
  width:532px;
}

h1 {
  font-size: 3em;
  margin: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
}

input[type=text] {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  width: 75%;
}

input[type=submit] {
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  
}

.todoBtn {
width: 20%;
}

input[type=submit]:hover {
  color: white;
  background-color: mediumseagreen;
}

ul {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.4em;
  list-style: none;
}

.done,
.delBtn {
  font-size: .8em;
  width: 150px;
}

.delAll {
  font-size: 1.2em;
  color: red;
}